.wishList
    margin-top: 170px
    padding: 0 15px
    @media (max-width: 1190px)
        padding: 0 40px
        @media (max-width: 996px)
            padding: 0 17px
            @media (max-width: 480px)
                padding: 0 15px
    &Wrap
        max-width: 1140px
        margin: 0 auto
        justify-content: space-between
        display: flex
        gap: 15px
        flex-wrap: wrap
        margin-top: 18px
        @media (max-width: 320px)
            margin: 20px 0px 55px
        &Page
            width: calc(33% - 10px)
            @media (max-width: 600px)
                width: calc(50% - 10px)
    &Title
        margin: 0 auto 40px
        max-width: 1140px
        position: relative
        @media (max-width: 700px)
            margin: -100px auto 40px
