.submenu
    position: absolute
    width: 1140px
    left: 0
    right: 0
    height: 48px
    background-color: #FFF
    transition: .3s
    border-radius: 0px 0px 3px 3px
    @media (max-width: 700px)
        display: none
    &Items
        display: flex
        justify-content: space-between
        padding: 10px 20px
    &Item
        color: black
        font-family: Montserrat
        font-size: 16px
        font-weight: 600

.hidden
    opacity: 0
    z-index: -1
    top: 0px

.show
    opacity: 1
    z-index: 1
    top: 108px
    @media (max-width: 1000px)
        top: 113px
