.menu
    &Items
        max-width: 1140px
        display: flex
        justify-content: space-between
        margin: 26px auto 0
        height: 100%
        @media (max-width: 700px)
            display: none
    &Item
        font-family: Montserrat
        font-weight: 600
        cursor: pointer
        height: 100%
        @media (max-width: 910px)
            font-size: 14px
            @media (max-width: 800px)
                font-size: 12px
