.footer
    background-color: #FDA3C4
    padding: 60px 24px
    @media (max-width: 580px)
        padding: 60px 18px
        &
            padding: 40px 27px
            @media (max-width: 300px)
                padding: 40px 10px
    &Wrap
        display: flex
        justify-content: space-between
        @media (max-width: 546px)
            flex-wrap: wrap
