body
    margin: 0

.wrapper
    max-width: 1140px
    margin: 0 auto

img
    width: inherit
    height: inherit
    margin: 0
    border-radius: inherit

.instagram
    &BoorivaGirls
        max-width: 379px
        @media (max-width: 870px)
            display: none
        &Images
            display: flex
            gap: 6px
            margin-bottom: 69px
            @media (max-width: 925px)
                margin-bottom: 86px
                @media (max-width: 900px)
                    margin-bottom: 71px
            &Things
                max-width: 168px
                min-width: 150px
                @media (max-width: 1065px)
                    max-width: 150px
                    @media (max-width: 925px)
                        min-width: 140px
                img
                    width: 100vw
                    height: auto
            &Jacket
                max-width: 205px
                min-width: 183px
                @media (max-width: 1065px)
                    max-width: 183px
                    @media (max-width: 925px)
                        min-width: 170px
                img
                    width: 100vw
                    height: auto
        &Title
            font-family: Montserrat
            font-size: 42px
            font-weight: 600
            color: #F40000
        &Text
            max-width: 276px
            font-family: Montserrat
            margin-left: auto
